
    body {
        font-family: sans-serif;
        background-color: black;
    }
    #menu {
        background-color: #333333;
        position:relative;
        color: #D6D6D6;
        padding: 12px;

    }
    #inline {
        display: inline;
        font-size: 14px;
        position: relative;
        left: 180px;
        padding-left: 70px;
    }
    i {
        font-size: 21px;
    }
